
#winbox{
    color: white;
    padding: 10px;
    margin-left: 15px;
}
#lossbox{
    color: white;
    padding: 10px;
    margin-left: 15px;
}
#totalbox{
    color:white;
}
#scorebox{
 padding: 40px;
 background-color: lightgreen;
 opacity: .7;
 max-width: 500px;
 font-size: 40px;
}
#instructionsbox{
    background-color: black;
    line-height: 1.8;
    padding: 50px;
    opacity: .8;
    color: yellow;
    max-width: 700px;
}
#titlebox{
    padding: 50px;
    background-color: red;
    opacity: .5;
    max-width: 600px;
}
#randnumbox{
    padding: 40px;
    background-color: lightcyan;
    opacity: .8;
    max-width: 300px;
    font-size: 40px; 
}
img{
    max-width: 75px;
    max-height: 75px;
}
body {
 background-image: url("../images/space.jpg");
}
#container{
    margin: auto;
  width: 50%;
}
